@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import "swiper/css/effect-fade";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

/* text-[#434343] */
body {
  @apply bg-white text-black box-border;
}

/* bg-[#F3F4F6] */
.text-col {
  @apply bg-gradient-to-tr from-[#c02425] to-[#f0cb35] bg-clip-text text-transparent
}

.bg-col {
  @apply bg-gradient-to-tr from-[#c02425] to-[#f0cb35]
}

.text-col-hover:hover {
  @apply bg-gradient-to-tr from-[#c02425] to-[#f0cb35] bg-clip-text text-transparent transition-colors;
}

.price-color {
  color: #f94c43;
}

/*--------- custom-scrollbar ---------------------------------*/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to top left, #ffcc00, #c02425);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top left, #06b5d4c3, #8a5cf6d6);
}

/* -------------------------------------------------------------- */